@import "tailwindcss";
@font-face {
  font-family: "Exo 2";
  src: url("./style/fonts/Exo2.ttf");
}
html * {
  font-family: "Manrope", Arial, sans-serif !important;
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined" !important;
}
.ant-modal-content {
  @apply bg-[#F3F6F8];
}
.ant-modal-content {
  background-color: #f3f6f8 !important;
}
